// FONTS

$txt-default: 18px;
$font-default: "Avenir";

// COLORS

$black: rgba(0,0,0,1);
$dark-gray: rgba(0,0,0,0.7);
$gray: rgba(0,0,0,0.6);
$light-gray: rgba(0,0,0,0.3);
$lighter-gray: rgba(245,246,247,1);

// SHAPES
$radius: 2px;

